ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

body {
    margin: 0;
}

li {
    float: right;
    right: -30px;
}

li a {
    display: block;
    color: rgb(7, 7, 7);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    size: 25px;
}

html {
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    overflow: hidden;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: block;
    margin-top: 120px;
}

.fake-input {
    position: relative;
    width: 585px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 28.5px;
}

.fake-input input {
    border: none: background: #fff;
    display: block;
    width: 100%;
    box-sizing: border-box;
    background: white;
    box-shadow: 0 2px 2px rgb(223, 222, 222);
    border: 1px solid rgb(212, 210, 210);
    margin-top: 20px;
    height: 43px;
    border-radius: 3px
}

.button {
    text-align: center;
}

button {
    font-weight: bold;
    display: inline-block;
    padding: 5px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(245, 245, 245);
    height: 40px;
    margin-left: 8px;
    margin-right: 8px;
    box-shadow: 1px 1px 2px rgb(245, 245, 245);
    color: rgb(97, 94, 94);
    border-radius: 3px;
    width: 140px;
}

.fake-input img {
    position: absolute;
    top: 9px;
    right: 15px;
    width: 15px;
    cursor: pointer;
}

footer {
    background-color: rgb(243, 243, 243);
    margin-top: 100px;
    padding: 0;
    color: rgb(73, 73, 73);
    max-height: 100px;
}

footer ul {
    background-color: rgb(243, 243, 243);
    margin-left: 10px;
    margin-top: 0px;
    padding: 11px;
    height: 50%;
}

footer li {
    margin-left: 13px;
    margin-right: 13px;
}

.p {
    border: 1px solid rgb(231, 230, 230);
    padding: 11px;
    height: 50%;
    padding-left: 33px;
    text-align: left;
    margin-bottom: 0px;
    border-top: none;
}

p {
    text-align: center;
}

p a {
    margin-left: 10px;
    text-decoration: none;
    color: blue;
}

p a:hover {
    text-decoration: underline;
}

button:hover {
    color: #000;
    border: 1px solid rgb(212, 212, 212);
}